body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-size: 1.15rem;
}

h2 , h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Section Navbar */
.brand {
    padding: 10px 0 0 25px;
    color: white;
    margin:0;
    font-family: 'Galada', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    background-color: #222831;
    padding-bottom: 20px;
}

.container1 {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
    padding-right: 70px;
}

.container1 > a {
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

.container1 > a:hover {
   color: #B2BEB5;
}

/* Section Greetings */
#greetings {
    background-color: #EEEEEE;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Section Resume */
.container3 , .container4 , .container5 , .container6-a , .container6-b , .container6-c , .container7 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#resume h3 {
    margin-bottom: 0;
}

#resume ul {
    list-style: none;
    padding-left: 0;
}

#resume li {
    margin-bottom: 7px;
}

/* Section My-works */
#my-works {
    background-color: #393E46;
    padding: 30px 0 40px;
}

.container6-mf {
    display: flex;
    justify-content: space-around;
}

.container6-mf img {
    width: 250px;
    height: 150px;
}

.container6-mf a {
    color: grey;
    text-decoration: underline;
}

.container6-mf a:hover {
    color: #B2BEB5;
}

.container6-a , .container6-b , .container6-c {
    gap: 20px;
}

/* Section Contact-me */
#contact-me {
    background-color: #222831;
}

.container8-mf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container8-mf a {
    color: grey;
    text-decoration: none;
}

.container8-mf a:hover {
    color: #B2BEB5;
}

.btn {
    background: #0580FA;
    background-image: -webkit-linear-gradient(top, #0580FA, #2980b9);
    background-image: -moz-linear-gradient(top, #0580FA, #2980b9);
    background-image: -ms-linear-gradient(top, #0580FA, #2980b9);
    background-image: -o-linear-gradient(top, #0580FA, #2980b9);
    background-image: linear-gradient(to bottom, #0580FA, #2980b9);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

.container8-a {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}


@media (max-width: 680px) {
    .brand {
        padding: 10px 0 23px 25px;
    }

   .container1 {
    flex-direction: column;
    gap: 0.7rem;
    padding: 10px 0 0 25px;;
   }

   .container2 > p {
    width: 75%;
   }

   .container6-mf {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
   }

   .container7-p {
    width: 75%;
   }

   .container8-a {
    gap: 30px;
   }

   .btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    color: #ffffff;
    font-size: 20px;
    background: #0580FA;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .justify-this {
    text-align: justify;
  }

}





